@import './../../../constants.scss';

:host {
    position: relative;
}

.header {
    display: flex;
    background-color: $color;
    color: $background;
    padding: 40px;
    justify-content: center;
    gap: 60px;

    .profile {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
    }

    .content {
        max-width: 600px;

        h2 {
            margin-top: 0px;
            color: $background;
        }

        .socials {
            margin-top: 20px;
            display: flex;
            justify-content: left;
            gap: 5px;

            img {
                width: 30px;
                height: 30px;
            }
        }
    }
}

.line {
    position: absolute;
    bottom: -8px;
    width: 500px;
    border: 8px solid $accent;
    animation-name: line;
    animation-duration: 4s;
    animation-timing-function: ease;
}

@keyframes line {
    0% {
        width: 0px;
    }

    100% {
        width: 500px;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;

        .content {
            text-align: center;

            .socials {
                justify-content: center;
            }
        }
    }

    .line {
        width: 250px;
    }

    @keyframes line {
        0% {
            width: 0px;
        }

        100% {
            width: 250px;
        }
    }
}