<div class="header">
    <div class="profile">
        <img src="./assets/profile.jpg" />
    </div>
    <div class="content">
        <h2>/HI {{name}}</h2>
        <p>My name is Ward, I'm a senior software engineer passionate about building digital products for human beings!
        </p>
        <div class="socials">
            <a href="https://github.com/WaHaeck" target="_blank">
                <img src="./assets/icons/github_w.png" />
            </a>
            <a href="https://www.linkedin.com/in/ward-haeck/" target="_blank">
                <img src="./assets/icons/linkedin_w.png" />
            </a>
        </div>
    </div>    
</div>
<div class="line"></div>
