.slideshow {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 500px;
  justify-content: center;

  .slide {
    >img {
      object-fit: contain;
      flex: 1;
      background-position: center;
      background-size: cover;
      transition: all 0.3s;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      width: 100%;
    }
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    h2 {
      margin: 0;
      margin-left: 50px;
      margin-right: 50px;
    }

    img {
      cursor: pointer;
      width: 40px;
    }
  }
}

@media (max-width: 1340px) {
  .slideshow {
    width: 400px;
  }
}